@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.topbar {
  height: 80px;
  width: 100%;
  background-color: crimson;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px;
  

  

  .logo {
    flex: 1;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 8px;

    .hemburger{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    // background-color: rebeccapurple;
    height: 24px;
    width: 30px;
    cursor: pointer;
    span{
      width: 30px;
      transition: all 1s ease;
      height: 3px;
      background-color:white;
      transform-origin: left;
    }
  }
  }
  .links {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      font-size: 18px;
      font-weight: 600;
      &:last-child {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}



.active{
    .hemburger{
      span{
        
        &:first-child{
          transform: rotate(45deg);
        }
        &:nth-child(2){
          display: none;
        }
        &:last-child{
          transform: rotate(-45deg);
        }
      }
    }
  }